@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SfFileManager TValue="FileManagerDirectoryContent">
    <FileManagerAjaxSettings Url="https://localhost:5001/api/FileManager/FileOperations"
                             UploadUrl="https://localhost:5001/api/FileManager/Upload"
                             DownloadUrl="https://localhost:5001/api/FileManager/Download"
                             GetImageUrl="https://localhost:5001/api/FileManager/GetImage">
    </FileManagerAjaxSettings>
</SfFileManager>
